.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    height: 100vh;
    width: 100vw;

    background-color: #f6f6f6;
}

.title {
    font-size: 30px;
    color: #312f2f;
    font-family: "Roboto Bold";
    letter-spacing: 2px;
}

.subtitle {
    background-color: #312f2f;
    font-size: 15px;
    color: white;
    position: absolute;
    z-index: 2;
    top: -35px;
    padding: 5px 10px;
    font-family: "Roboto Bold";
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 85vh;
    padding-top: 0;
    margin-top: 0;
}

.content1 {
    width: 100vw;
    height: 100vh;
}

.leftside {
    background-color: white;

    width: 55%;
        height: 50%;
        padding: 1%;
        position: relative;

    margin: 2em;
}

.rightside {
    background-color: white;

    width: 30vw;
    height: 50vh;

    margin: 2em;
    padding-top: 3em;

    display: flex;
    flex-direction: column;
}

.titre {
    color: white;
    background-color: #312f2f;
    font-size: 20px;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 20px;
    width: fit-content;
}

.contenue {
    font-size: 18px;

    padding-left: 2em;
    padding-right: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 12vh;

    border-top: 1px solid black;
}

.contenuebot {
    font-size: 18px;

    padding-left: 2em;
    padding-right: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 12vh;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.status {
    background-color: #BF99A0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 8px;

    text-align: center;

    width: 8vw;
}

.nb {
    background-color: #84DCCF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 8px;

    text-align: center;

    width: 8vw;
}

.doc {
    background-color: #bccbe0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 8px;

    text-align: center;

    width: 8vw;
}

.main {
    font-family: "Roboto Regular";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 84%;
    padding: 1%;
    gap: 5px;
    background-color: whitesmoke;
}

.titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}