.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: #f6f6f6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1%;
  height: 8vh;
  width: 100vw;
  background-color: #312f2f;
}

.titre {
    font-size: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}

.input {
    width: 20vw;
    height: 5vh;
    font-size: 1.2em;
    outline: none;
    padding-left: 1em;
}

.boutonBleu {
    width: 20vw;
    height: 5vh;
    font-size: 1.2em;

    border: 1px solid black;
    border-radius: 12px;

    background-color: #a5d9f7;
    cursor: pointer;
}

.boutonBleu:hover {
    background-color: #86b2cc;
    transition: 0.5s;
}

.boutonBleu:active {
    background-color: #587688;
}

.boutonVert {
    width: 20vw;
    height: 5vh;
    font-size: 1.2em;

    border: 1px solid black;
    border-radius: 12px;

    background-color: #85dccf;
    cursor: pointer;
}

.boutonVert:hover {
    background-color: #6cb4a9;
    transition: 0.5s;
}

.boutonVert:active {
    background-color: #548a82;
}